
/*Google Fons       recomendable realizar la importacion del mismo archivo .css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');





/*bootstrap Iconos*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");



/*Para resetear*/
*{

    margin: 0;
    padding: 0;

    box-sizing: border-box;

    
    /*    
    outline: 1px solid red;
    */


    -webkit-box-sizing: border-box;

}



html,
body{


    /*
    font-family: "Merriweather", serif;
    font-family: "Open Sans", sans-serif;
    */

    /*Estilo 1 de parrafo*/
    font-family: "Open Sans", sans-serif;

    background-color: var(--colorEstilo1);

    /*desplazamieento suave cuando se usa navevacion por ancla*/
    scroll-behavior: smooth;

}


/*Estilos generales*/
:root{

    --colorEstilo1:#FFFFFF;
    --colorEstilo2:#F9F9F9;
    --colorEstilo3:#000000;

}


/*Estilos genraels*/
h1,h2,h3,h4{
    font-family: "Merriweather", serif;
}


h1{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 500;
}

h2{
    font-size: 4.5rem;    
}

h3{
    font-size: 2.5rem;
}

h4{
    font-size: 1.5rem;
}


a{
    text-decoration: none;
    color: var(--colorEstilo3);

}

a:hover{
    text-decoration: line-through;   
    font-weight: bold; 
}

p{
    font-size: 1rem;
    line-height: 1.7rem;
    margin: 10px 0;
}



/*contenedor*/
div.contenedor{
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;


    overflow: auto; /********************************/
}



/**************************************/
/**/


header.contenedor__header{
    height: 100vh;
    padding-top: 0px;      /***************** 20px eliminar luego*/
}

nav.contenedor__superior{
    overflow: auto;
    padding-bottom: 10px;   /***************** 20px eliminar luego*/
}

div.superior__logo{
    float: left;
}

div.superior__logo h1.logo__titulo{
    font-size: 1.5rem;
    padding-top: 20px;
}

div.superior__menu{
    float: right;
}

div.superior__menu ul.menu__opciones{
    list-style: none;
}

div.superior__menu ul.menu__opciones li{
    float: left;
}

div.superior__menu ul.menu__opciones li a{
    display: block;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;

    padding-top: 40px;

}


/**************************************/
/*contenedor__banner*/
section.contenedor__banner{
    padding: 211px 0;       /**************/

    background-color: var(--colorEstilo2);
    background-image: url("../imagenes/showcase.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


div.banner__titulo {
    width: 50%;
    margin-left: auto;
    text-align: right;
    
}
h2.titulo__banner{    
    font-weight: 300;    
}


div.banner__textos{
    width: 50%;
    margin-left: auto;
}
p.texto__parrafo{
    text-align: right;
    margin-top: 30px;
}



a.btn{
    display: block;
    padding: 10px;
    text-align: right;
    border: 1px solid var(--colorEstilo3);
    border-radius: 5px;
    width: 20%;
    text-align: center;
    margin-left: auto;
    margin-top: 30px;

    font-weight: bold;
    font-size: 0.9rem;
}




/**************************************/
/*services*/
section.contenedor__services{
    padding: 120px 0;
}

div.services__titulo h3,
div.about__titulo h3,
div.contact__titulo h3
{ 
    text-align: center;
    text-transform: uppercase;    
    font-weight: 300;
}

div.services__grupos{
    margin-top: 70px;      
}

div.grupo__caja{
    width: 33%;
    float: left;
    padding: 40px;
}


h4{
    padding-left: 10px;
}

div.grupo__caja p{
    padding: 10px 20px 20px 10px;
}





/**************************************/
/*contenedor__about*/
section.contenedor__about{
    padding: 120px 0;
    background-color: var(--colorEstilo2);
}


div.about__titulo h3{
    margin-bottom: 70px;    
}

div.about__lado1{
    float: left;
    width: 50%;
}

div.about__lado2{
    float: left;
    width: 50%;
}


section.contenedor__about p{
    margin-bottom: 3rem;
    padding-left: 50px;
    padding-right: 50px;
}

div.about__lado1 p.parrafo1__formato{
    font-weight: 600;
    font-size: 1.25rem;
}


div.about__lado2 p.parrafo2__formato{
    font-size: 0.8rem;
}




/**************************************/
/*contenedor__contact*/
section.contenedor__contact{
    padding: 120px 0 20px 0;
}

div.contact__titulo h3{
    margin-bottom: 70px;    
}



/**************************************/

div.contact__formulario{
    width: 50%;
    margin: auto;
}
div.form__group{
    margin-bottom: 1rem ;
}
form label{
    display: block;
    margin-bottom: 0.6rem;
    font-weight: 500;
}

.form__control{
    width: 100%;
    background-color: var(--colorEstilo2);
}

form input,
form textarea{
    padding: 10px;
    border-radius: 5px;
    border: none;
}

form textarea{
    line-height: 1.4rem;
}


form button{
    width: 100%;
    padding: 10px 0;
    background-color: var(--colorEstilo3);
    color: var(--colorEstilo2);
    font-weight: bold;
    cursor: pointer;
}

form button:hover{
    background-color: #3d3d3d;
}





/**************************************/
/*contenedor__footer*/
footer.contenedor__footer{
    background-color: var(--colorEstilo3);
}

div.pie__titulo p{
    text-align: center;
    font-size: 11px;
    padding: 10px 0;
    margin: 10px 0;

    color: var(--colorEstilo2);
}

span.autor
{
    color: var(--colorEstilo2);
    font-weight: 600;
}


span.donacion a
{
    color: var(--colorEstilo2);
    font-weight: 600;
    letter-spacing: 8px;
}
span.donacion a:hover{
    text-decoration: underline;
}















/**************************************/
/*Responsive*/
@media only screen and  (max-width: 575.98px) and
                        (max-width: 767.98px) and
                        (max-width: 991.98px) and
                        (max-width: 1199.98px) and
                        (max-width: 1399.98px)
{

    div.superior__logo{
        float: none;
        width: 100%;
        text-align: center;    
    }

    div.superior__menu{
        float: none;
        width: 100%;
        text-align: center;
        padding: 0;
    }


    
    div.superior__menu ul.menu__opciones li{
        float: none;
        width: 100%;    /*********************************/    
        padding: 0;    
    }


    div.superior__menu ul.menu__opciones li a{
        text-align: center;
        padding: 10px;
        font-size: 0.9rem;

    }


    header.contenedor__header{
        height: 100%;   /********************************** ojo ahi */
    }


    /*banner*/
    div.banner__titulo{
        float: none;
        margin: auto;
        width: 100%;        
    }

    div.banner__textos{
        float: none;
        margin: auto;
        width: 100%;      
    }

    h2.titulo__banner{
        font-size: 2rem;
    }



    /**/
    section.contenedor__banner{
        background-color: var(--colorEstilo2);
        background-image: url("../imagenes/showcase.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        padding-top: 60px;
        padding-bottom: 60px;
    }

    a.btn{
        width: 50%;
        display: block;
        margin-left: auto;
        
    }



    /**/
    section.contenedor__services{
        padding-top: 60px;
        padding-bottom: 60px;
    }

    div.services__titulo h3{
        font-size: 2rem;
    }

    div.services__grupos{
        margin-top: 30px;
    }


    div.grupo__caja{
        float: none;
        width: 100%;
        
    }



    /**/
    section.contenedor__about{
        padding-top: 60px;
        padding-bottom: 60px;
    }


    div.about__titulo h3{
        font-size: 2rem;
        margin-bottom: 30px;
    }

    div.about__lado1{
        float: none;
        width: 100%;
    }

    div.about__lado2{
        float: none;
        width: 100%;
    }

    div.about__lado1 p{
        padding: 10px; 
        margin-bottom: 10px;
    }

    div.about__lado2 p{
        padding: 10px; 
        margin-bottom: 10px;
    }






    
    /**/
    section.contenedor__contact{
        padding-top: 60px;
        padding-bottom: 60px;
    }


    div.contact__titulo h3{
        margin-bottom: 30px;
    }


    div.contact__formulario{
        width: 100%;
    }








    form label{
        font-weight: 500;
    }

    form input.form__control,
    form textarea.form__control
    {
        background-color: var(--colorEstilo2);
    }

    form button{
        width: 100%;
        padding: 10px 0;
        border: none;
        border-radius: 5px;
        background-color: var(--colorEstilo3);
        color: var(--colorEstilo2);

        font-weight: bold;
    }








}








/**************************************/

@media screen and  (max-width: 576px) 

{
        header.contenedor__header{
        height: 100%;   /********************************** ojo ahi */
    }


    
    div.banner__titulo{
        float: none;
        margin: auto;
        width: 100%;        
    }

    div.banner__textos{
        float: none;
        margin: auto;
        width: 100%;      
    }

    h2.titulo__banner{
        font-size: 2rem;
    }


    /**/
    section.contenedor__banner{
        background-color: var(--colorEstilo2);
        background-image: url("../imagenes/showcase.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        padding-top: 60px;
        padding-bottom: 60px;
    }

    a.btn{
        width: 50%;
        display: block;
        margin-left: auto;
        
    }


}







@media screen and  (max-width: 1150px)

{
        header.contenedor__header{
        height: 100%;   /********************************** ojo ahi */
    }


    
    div.banner__titulo{
        float: none;
        margin: auto;
        width: 100%;        
    }

    div.banner__textos{
        float: none;
        margin: auto;
        width: 100%;      
    }

    h2.titulo__banner{
        font-size: 2rem;
    }



    /**/
    section.contenedor__banner{
        background-color: var(--colorEstilo2);
        background-image: url("../imagenes/showcase.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        padding-top: 60px;
        padding-bottom: 60px;
    }

    a.btn{
        width: 50%;
        display: block;
        margin-left: auto;
        
    }
}



